@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=JetBrains+Mono:wght@400;500;700&display=swap');
/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';

html,
body {
  background-color: #f3f4f6;
  font-family: Inconsolata, monospace;
  height: 100%;
}

::selection {
  background-color: #ef4444;
  color: #fff;
}

.social {
  display: inline-block;
  white-space: nowrap;
}

.social:hover {
  fill: #79cd88;
}

*,
::before,
::after {
  border-color: currentcolor;
}
